<%= form_for(@new_list)do |f| %>
  <div class="form">
    <%= f.label :name %> <br>
    <%= f.text_field :name %>
  </div>
  <div class="">
    <%= f.label :quantity %> <br>
    <%= f.range_field :quantity, in: 1..10 %> <br>
  </div>
  <div class="">
    <%= f.submit %>
  </div>
<% end %>
<h3>Edit</h3>
<h1>List</h1>
<% @list.each do |list| %>
  <h4><%= list.name %></h4>
  <p>quantity:<%= list.quantity %></p>
  <p>ID: <%= list.id %></p>
  <%= button_to 'Delete', @delete_item, method: :delete %>
<% end %>
